<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title [routerLink]="['/home']">
      Trojka Articles
    </ion-title>
    <ion-buttons slot="start">
      <ion-button *ngIf="currentArticleId > 0" (click)="backClick()" slot="start">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-container">
    @if (!isLastArticle) {
      @for (article of currentChildArticles; track article.id) {
      <ion-card (click)="openChildArticle(article)">
        <div class="card-container">
          <div class="card-image">
            <img ngSrc="{{article.picture}}" fill alt="Article image" priority>
          </div>
          <div class="card-content">
            <ion-card-header>
              <ion-card-title>{{ article.title }}</ion-card-title>
            </ion-card-header>
            <ion-card-content
              [innerHTML]="article.excerpt">
            </ion-card-content>
          </div>
        </div>
      </ion-card>
      }
    } @else {
      <ion-card>
        <div class="card-container__last">
          <div class="card-image">
            <img ngSrc="{{currentArticle.picture}}" fill alt="Article image" priority>
          </div>
          <div class="card-content">
            <ion-card-header>
              <ion-card-title>{{ currentArticle.title }}</ion-card-title>
            </ion-card-header>
            <ion-card-content
              [innerHTML]="currentArticle.content">
            </ion-card-content>
          </div>
        </div>
      </ion-card>
    }
  </div>
</ion-content>
