.card-container
{
  display: flex;
  flex-direction: row-reverse;
}

.card-image
{
  position: relative;
  width: 150px;
  height: 250px;
  margin: 10px;
}

.card-image img
{
  object-fit: cover;
}

.card-content
{
  flex: 1;
  margin: 0 10px;
}

.card-container__last .card-image
{
  float: right;
}

.card-container__last .card-content
{
  flex: 1;
  margin: 0 10px;
}

ion-toolbar
{
  --background: #00AAB5;
  --color: white;
}

ion-card
{
  margin: 1rem;
}

@media (min-width: 900px)
{
  ion-card
  {
    margin: 0;
  }
  .home-container
  {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
  }
}
